<div class="row">
  <div class="col-sm-3">
    <div class="box info">
      <h3>Info</h3>
      {% for post in site.posts %}
      {% if post.title == 'Info' %}
        {{ post.excerpt | markdownify }}

        <a href="{{ post.url }}">Read more..</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box featured-streamer">
      <h3>Streamer Showcase</h3>
      {% for post in site.posts %}
      {% if post.title == 'Streamer Showcase' %}
        {{ post.excerpt | markdownify }}
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="box info">
      <h3>News</h3>
      <ul>
      {% for post in site.categories.news %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </div>
  </div>
</div>
